body {
	background: #efefef;
}

h1,
h2,
h3,
h4 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}

p,
a,
a.button {
	font-family: 'Open Sans', sans-serif;
}

a.button {
	font-size: 1em;
}

.top-nav-ribbon {
	background-color: white;
	padding-top: 1em;
}

.logo-startovani {
	display: inline-block;
	font-size: 2em;
	background: -webkit-linear-gradient(0deg, #1AB24B, #EF3847);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.logo-startupweekend {
	max-width: 16em;
}

.logo-startupgrind {
	max-width: 10em;
	padding-top: 1em;
}

@media screen and (max-width: 500px) {
	.logo-startupweekend {
		max-width: 8em;
	}

	.logo-startupgrind {
		max-width: 5em;
		padding-top: 0.5em;
	}
}

.block {
	padding-top: 4em;
	padding-bottom: 4em;
}

.illus {
	width: 10em;
	height: 10em;
}

/* Phones */

@media screen and (max-width: 400px) {
	.illus {
		width: 6em;
		height: 6em;
	}
}


#co-delame {}

#co-delame .call-out {
	text-align: center;
}

#co-delame .call-out h2 {
	font-size: 4em;
	font-weight: 400;
}




#co-ziskate {}
